@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  --outfit: "Outfit", sans-serif;
}
body {
  background-color: #f2f2f2;
}
.container {
  width: 320px;
  height: 497px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 560px;
  margin-bottom: 151px;
  margin-top: 151px;
}
.image-container {
  width: 288px;
  height: 288px;
  margin-top: 8px;
  border-radius: 10px;
}
.text-container {
  padding-bottom: 40px;
}
.header {
  font-family: var(--outfit);
  font-weight: 700;
  font-size: 22px;
  color: #1f314f;
  text-align: center;
  padding-bottom: 16px;
}
.body-text {
  text-align: center;
  font-family: var(--outfit);
  font-weight: 400;
  font-size: 15px;
  color: #7d889e;
}
